<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.3.1" targetFramework="net461" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net461" />
  <package id="Common.Logging.NLog41" version="3.3.1" targetFramework="net461" />
  <package id="FluentAssertions" version="4.6.1" targetFramework="net461" />
  <package id="Moq" version="4.2.1510.2205" targetFramework="net461" />
  <package id="NLog" version="4.1.2" targetFramework="net461" />
</packages>